.to-do-list .task-list li.task-passed {
    opacity: 0.6; /* Görev tamamlandığında soluk yeşil yapmak için */
    color: #888; /* Opsiyonel olarak yazı rengini değiştirebilirsiniz */
  }
  
  .task-details {
    display: none;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .task-item:hover .task-details {
    display: block;
  }
  
  
  .task-details span {
    font-style: italic;
    font-weight: 15px;
    color: #4747475b;
    text-align: left;
    left: 10px;
  }
  
  .task-details-text{
    left: 0;
  }